<!-- App Layout Start -->

<!DOCTYPE html>

{% include head.html %}
<script src="js/sha256.js"></script>
<script src="js/password-blockchain.js"></script>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <section id="{{ page.title }}" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        {{ page.content | markdownify }}
        <form role="form">
          <div class="form-group">
            <label for="passphrase"><strong>Your passphrase:</strong></label>
            <input type="password" class="form-control" id="passphrase">
          </div>
          <div class="form-group">
            <label for="serviceName"><strong>Target service to get password of:</strong></label>
            <input type="text" class="form-control" id="serviceName">
          </div>
          <div class="form-group">
            <label for="serviceName"><strong>Your password:<strong></label>
            <input type="text" class="form-control" id="password" value="">
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="getPassword(document.getElementById('passphrase').value, document.getElementById('serviceName').value)">Get password</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>

<!-- App Layout End -->
